.main-donaciones .section__forms--height, .main-contactanos .section__forms--height {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 550px;
}
.main-donaciones .section__forms--height .global_forms--center .form__fields .form__text--fount, .main-contactanos .section__forms--height .global_forms--center .form__fields .form__text--fount {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
}
.main-donaciones .section__forms--height .global_forms--center .form__button, .main-contactanos .section__forms--height .global_forms--center .form__button {
  margin-top: 15px;
}
.main-donaciones .section__forms--height .global_forms--center .form__button .form__button--style, .main-contactanos .section__forms--height .global_forms--center .form__button .form__button--style {
  margin-left: 20%;
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
}
.main-donaciones .section__forms--height .global_forms--center .form__button button, .main-contactanos .section__forms--height .global_forms--center .form__button button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.main-donaciones .section__forms--height .global_forms--center .form__button button:hover, .main-contactanos .section__forms--height .global_forms--center .form__button button:hover {
  background-color: rgb(169, 85, 248);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 10px;
  background-color: #80fcfc;
}

.global__titles {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  background-color: #AFA2FF;
  border: 2px solid black;
  text-align: center;
}

.global__subtitles {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  background-color: #AFA2FF;
  border: 2px solid black;
  text-align: center;
}

.videos__titles {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

p {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

header {
  background-color: #AFA2FF;
  position: sticky;
  top: 0px;
  z-index: 10;
  border-bottom: 2px solid rgba(32, 32, 32, 0.658);
}
header .nav-header .menu__text--padding {
  padding: 10px;
}
header .nav-header .menu__text--padding .navbar-brand img {
  width: 150px;
  height: auto;
}
header .nav-header .menu__text--padding .navbar-brand img:hover {
  animation: zoomIn 0.5s forwards;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
header .nav-header .menu__text--padding .menu {
  flex-grow: 0;
}
header .nav-header .menu__text--padding .menu .menu__text--center {
  display: flex;
  column-gap: 10px;
  text-align: center;
}
header .nav-header .menu__text--padding .menu .menu__text--center .navbar__text {
  list-style: none;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
header .nav-header .menu__text--padding .menu .menu__text--center .navbar__text a {
  color: #372b88;
  text-decoration: none;
}
header .nav-header .menu__text--padding .menu .menu__text--center .navbar__text .active {
  color: blueviolet;
}
header .nav-header .menu__text--padding .menu .menu__text--center .navbar__text a:hover {
  color: #80fcfc;
}
header .nav-header .menu__text--padding .menu__hamburguer--icon {
  background-image: url(../img/menu/menu-hamb.svg);
}
header .nav-header .menu__text--padding .menu__button--margin {
  margin: 10px;
}
header .nav-header .menu__text--padding .menu__button--margin:focus {
  background-color: blueviolet;
}
header .nav-header .menu__text--padding .menu__button--margin:hover {
  box-shadow: -1px 1px 26px 13px rgba(44, 242, 255, 0.73);
}

footer {
  position: sticky;
  bottom: 0px;
  background-color: #AFA2FF;
  z-index: 9;
  overflow-y: hidden;
}
footer .footer__title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}
footer .footer__networks {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "img1 img2 img3";
  justify-items: center;
}
footer .footer__networks .networks__link a img {
  width: 70px;
  height: auto;
  border: solid rgb(36, 36, 36);
  border-radius: 20px;
  align-items: center;
}
footer .footer__networks .networks__link--grid1 {
  grid-area: img1;
}
footer .footer__networks .networks__link--grid2 {
  grid-area: img2;
}
footer .footer__networks .networks__link--grid1 {
  grid-area: img3;
}

.main-index .text__description--style {
  text-align: center;
}
.main-index .text__description--style p {
  text-align: justify;
}
.main-index .text__description--style .index__banner--style {
  max-width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid #1E1E1E;
}
.main-index .text__description--style .index__banner--style:hover {
  animation: zoomIn 0.5s forwards;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.main-index .index__videos .contenido__videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-index .index__videos .contenido__videos iframe {
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.main-index .index__videos .contenido__videos iframe:hover {
  animation: zoomIn 0.5s forwards;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.main-index .index__videos .contenido__videos .video-text .index__videos-titles {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.main-index .index__videos .contenido__videos .video-text p {
  width: 100%;
}

.main-contenido .section__contenido--height {
  min-height: 100vh;
  min-width: 100%;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin {
  margin: 10px;
  background-color: #80fcfc;
  border: none;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-collapse .accordion__body--color {
  background-color: #80fcfc;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-collapse .accordion__body--color .contenido__videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  padding-bottom: 15px;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-collapse .accordion__body--color .contenido__videos iframe {
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-collapse .accordion__body--color .contenido__videos iframe:hover {
  animation: zoomIn 0.5s forwards;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-header .accordion-button {
  box-shadow: none;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-header .accordion_button--color {
  background-color: #AFA2FF;
  border: 1px solid #1E1E1E;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-header .accordion_button--color .videos__titles:not(.collapsed) {
  font-size: 20px;
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-header .accordion_button--color:not(.collapsed) {
  background-color: #9686ff;
  border: 3px solid #1E1E1E;
  box-shadow: -1px 0px 24px 0px rgba(219, 0, 255, 0.75);
}
.main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion__margin--second {
  margin-top: 10px;
  border: none;
}

.main-galeria section .gallery__subtitles {
  padding: 10px;
  text-align: center;
  border-top: 3px solid #1E1E1E;
  margin-top: 10px;
}
.main-galeria section .gallery__subtitles img {
  width: auto;
  height: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.main-galeria section .gallery__subtitles .gallery__subtitles--styles {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding: 10px;
}
.main-galeria section .carousel__styles {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.main-galeria section .carousel-inner .carousel__item {
  text-align: center;
}
.main-galeria section .carousel-inner .carousel__item .gallery__img--size {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}
.main-galeria section .carousel-inner .carousel__item .title__img {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  background-color: #1E1E1E;
  font-size: 20px;
  color: white;
  padding: 0% 2% 0% 2%;
}
.main-galeria section .carousel__styles {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.main-contactanos {
  height: calc(90vh - 8rem);
  overflow-y: hidden;
}
.main-contactanos .section__forms--height .contactanos__subtitle {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.main-contactanos .section__forms--height .global_forms--center .contactanos-button .form__button--style {
  margin-left: 0%;
}

.main-donaciones {
  height: calc(80vh - 8rem);
  overflow-y: hidden;
}
.main-donaciones .donaciones_title {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}

@media (max-width: 991px) {
  .menu {
    background-color: #AFA2FF;
    position: absolute;
    width: 100%;
    top: 105px;
    width: 150px;
    position: fixed;
    right: 15px;
    border: 2px solid #1E1E1E;
    height: 200px;
  }
  .navbar__text--border {
    border-top: 1px dashed;
  }
}
@media (max-width: 768px) {
  .main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-collapse .accordion__body--color .contenido__videos iframe {
    width: 80%;
  }
  .contenido__videos iframe {
    width: 80%;
  }
  .main-galeria section .carousel__styles {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .main-contenido .section__contenido--height .accordion .accordion__item--margin .accordion-collapse .accordion__body--color .contenido__videos iframe {
    width: 100%;
  }
  .main-galeria section .carousel__styles {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
