/*----------------------------- general -----------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 10px;
    background-color: #80fcfc;
    overflow: auto;
}

.global__titles {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #AFA2FF;
    border: 2px solid black;
    text-align: center;
    }

.global__subtitles {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #AFA2FF;
    border: 2px solid black;
    text-align: center;
    }

.video__titles{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-weight: bold
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*----------------------------- header -----------------------------*/
header {
    background-color: #AFA2FF;
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: 2px solid rgba(32, 32, 32, 0.658);
}

.navbar__text {
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.navbar__text a {
    color: #372b88;
}

.menu {
    flex-grow: 0;
}

header nav ul {
    display: flex;
    column-gap: 10px;
}

.navbar {
    padding: 0px;
    background-color: #AFA2FF;
}

.navbar__text a {
    text-decoration: none;
}

header nav div a img{
    width: 150px;
    height: auto;
}

.menu__hamburguer--icon {
    background-image: url(../img/menu/menu-hamb.svg);

}

.menu__text--center {
    text-align: center;
}

.menu__text--padding {
    padding: 10px;
}

.menu__button--margin {
    margin: 10px;
}

.menu__text--center .navbar__text .active {
    color:blueviolet;
}

.menu__text--center .navbar__text a:hover{
    color: #80fcfc;
}

/*----------------------------- main index -----------------------------*/

/*----------------------------- main contenido -----------------------------*/
.section__contenido--height{
    min-height: 100vh;
    min-width: 100%;

}

.contenido__videos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-bottom: 15px;


}

.contenido__videos iframe{
    border-radius: 20px;
    padding-bottom: 5px;
}

.accordion_button--color {
    background-color: #AFA2FF;
    border: 1px solid #1E1E1E;
}

.accordion_button--color button:focus{
    background-color: blueviolet;
    border: 3px solid #1E1E1E;

}

.accordion_button--color:not(.collapsed){
    background-color: #9686ff;
    border: 3px solid #1E1E1E;
    box-shadow: -1px 0px 24px 0px rgba(219,0,255,0.75);
}

.accordion_button--color .videos__titles:not(.collapsed){
    font-size: 20px;
}

.accordion__body--color {
    background-color:#80fcfc;
}

.accordion__item--margin {
    margin: 10px;
    background-color: #80fcfc;
    border: none;
}

.accordion__margin--second{
    margin-top: 10px;
    border: none;
}

.accordion-button.collapsed { 
    box-shadow: none;
}

/*----------------------------- main galeria -----------------------------*/

.carousel__item {
    text-align: center;
}

.title__img {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #1E1E1E;
    padding: 0% 2% 0% 2%;
    font-size: 20px;
}

.gallery__subtitles--styles{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    font-size: 25px
}


.carousel__item .gallery__img--size {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}

.gallery__subtitles img {
    width: auto;
    height: 25px;
    text-align: center;
    margin-bottom: 10px;

}

.gallery__subtitles {
    padding: 10px;
    text-align: center;
    border-top: 3px solid #1E1E1E;
    margin-top: 10px;
}

.carousel__styles {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------------- main contactanos -----------------------------*/
.global_forms--center .contact__button--center {
    margin-left: 0%;
}
/*----------------------------- main donaciones -----------------------------*/
.section__forms--height{
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 550px;
}

.global_forms--center .donaciones__button--center {
    margin-left: 20%;
}

.global_forms--center button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.global_forms--center button:hover {
    background-color: rgb(169, 85, 248);
}

.form__text--bold {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-weight: bold
}

.form__text--fount {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.donaciones__title {
    .video__titles{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        font-weight: bold
    }
}

/*----------------------------- footer -----------------------------*/
footer{
    position: sticky;
    bottom: 0px;
    background-color: #AFA2FF;
    z-index: 9;

}


.footer__title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding-top: 10px;
}


.footer__networks {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "img1" "img2" "img3";
    justify-items: center;

}

.networks__link img {
    width: 70px;
    height:auto;
    border: solid rgb(36, 36, 36);
    border-radius: 20px;
    align-items: center;
}

footer .footer_networks .networks__link--grid1{
    grid-area: img1;
}
footer .footer_networks .networks__link--grid2{
    grid-area: img2;
}
footer .footer_networks .networks__link--grid1{
    grid-area: img3;
}

/* media */
@media (max-width: 991px){
    .menu{
        background-color: #AFA2FF;
        position: absolute;
        width: 100%;
        top: 105px;
        width: 150px;
        position: fixed;
        right: 15px;
        border: 2px solid #1E1E1E;
        height: 200px;
    }
    
    .navbar__text--border {
        border-top: 1px dashed;
    }
}

@media (max-width: 768px){

    .contenido__videos iframe{
        width: 80%;
    }

    .carousel__styles {
        width: 90%;
}
}

@media (max-width: 480px){

    .contenido__videos iframe{
        width: 100%;
    }

    .carousel__styles {
        width: 100%;
}
}