.main-index{
    .text__description--style{
        text-align: center;
        p{
            text-align: justify;
        }
        .index__banner--style{
            max-width: 80%;
            margin-top: 15px;
            margin-bottom: 15px;
            border: 3px solid nth($list: $colors, $n: 4);
            &:hover{
                animation: zoomIn 0.5s forwards;
                @keyframes zoomIn {
                    from {
                        transform: scale(1);
                    }
                    to {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .index__videos{
        .contenido__videos{
            @include flex(column, center, center, center);
            iframe{
                border-radius: 20px;
                margin-bottom: 15px;
                margin-top: 15px;
                &:hover{
                    animation: zoomIn 0.5s forwards;
                    @keyframes zoomIn {
                        from {
                            transform: scale(1);
                        }
                        to {
                            transform: scale(1.1);
                        }
                    }
                }
                }
            .video-text{
                .index__videos-titles {
                    @include fonts("Quicksand", 700, normal, null, 20px);
                }
                p{
                    width: 100%;
                }
            }
        }
    }
}