.main-index{
    .text__description--style{
        p{
            text-align: justify;
        }
    }
    .index__videos{
        .contenido__videos{
            @include flex(column, center, center, center);
            iframe{
                border-radius: 20px;
                margin-bottom: 15px;
                }
            .video-text{
                .index__videos-titles {
                    @include fonts("Quicksand", 700, normal, null, 20px);
                }
                p{
                    width: 100%;
                }
            }
        }
    }
}