%form{
    .section__forms--height{
        min-height: 100vh;
        min-width: 100%;
        @include flex(column, center, center);
        padding-bottom: 550px;
        .global_forms--center {
            .form__fields{
                .form__text--fount {
                    @include fonts("Quicksand", bold, normal);
                }
            }
            .form__button{
                margin-top: 15px;
                .form__button--style {
                    margin-left: 20%;
                    @include fonts("Quicksand", bold, normal);
                    }
                    button{
                        background-color: blueviolet;
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        cursor: pointer;
                        border-radius: 5px;
                        &:hover{
                            background-color: rgb(169, 85, 248);
                        }
                    }
            }
        }
}
}