// Reset 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Set
main {
    padding: 10px;
    background-color: #80fcfc;
    overflow: auto;
}

//Text format
.global__titles {
    @include fonts("Bebas Neue", 400, normal, nth($list: $colors, $n: 1), null, 2px solid black, center);
    }

.global__subtitles {
    @include fonts("Bebas Neue", 400, normal, nth($list: $colors, $n: 1), null, 2px solid black, center);
    }

.videos__titles{
    @include fonts("Quicksand", 700, normal, null, 20px);
}

p {
    @include fonts("Quicksand", 500, normal);
}

h4{
    @include fonts("Quicksand", 700, normal, null, 20px)
}