@media (max-width: 991px){
    .menu{
        background-color: nth($list: $colors, $n: 1);
        position: absolute;
        width: 100%;
        top: 105px;
        width: 150px;
        position: fixed;
        right: 15px;
        border: 2px solid nth($list: $colors, $n: 4);
        height: 200px;
    }
    
    .navbar__text--border {
        border-top: 1px dashed;
    }
}

@media (max-width: 768px){
    
//Videos Contenido
.main-contenido{
    .section__contenido--height{
        .accordion{
            .accordion__item--margin{
                .accordion-collapse{
                    .accordion__body--color{
                        .contenido__videos {
                            iframe{
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
    .contenido__videos iframe{
        width: 80%;
    }

//Carousel Galería
.main-galeria{
    section{
        .carousel__styles {
            width: 100%;
    }
    }
}
}

@media (max-width: 480px){
//Videos Contenido
.main-contenido{
    .section__contenido--height{
        .accordion{
            .accordion__item--margin{
                .accordion-collapse{
                    .accordion__body--color{
                        .contenido__videos {
                            iframe{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Carousel Galería
.main-galeria{
    section{
        .carousel__styles {
            width: 100%;
    }
    }
}
//Main contactanos
.main-contactanos{
    height: calc(100vh - 2 * 4rem);
    overflow-y: hidden; 
}
}