header {
    background-color: nth($list: $colors, $n: 1);
    position: sticky;
    top: 0px;
    z-index: 10;
    border-bottom: 2px solid rgba(32, 32, 32, 0.658);
    .nav-header{
        .menu__text--padding{
            padding: 10px;
            .navbar-brand{
                img{
                    width: 150px;
                    height: auto;
                }
            }
            .menu{
                flex-grow: 0;
                .menu__text--center{
                    display: flex;
                    column-gap: 10px;
                    text-align: center;
                    .navbar__text {
                        list-style: none;
                        @include fonts("Bebas Neue", 400, normal, null, 25px);
                        a{
                            color: nth($list: $colors, $n: 3);
                            text-decoration: none;
                        }
                        & .active{
                            color:blueviolet;
                        }
                        a:hover{
                                color: #80fcfc;
                        }
                    // }
                    // .navbar__text .active{

                    // }
                    
                    }
                }
            }
            .menu__hamburguer--icon {
                background-image: url(../img/menu/menu-hamb.svg);
            }
            .menu__button--margin {
                margin: 10px;
                &:focus{
                    background-color: blueviolet;
                }
                &:hover{
                    box-shadow: -1px 1px 26px 13px rgba(44,242,255,0.73);
                }
            }
        }
    }
}